@import 'mixins';

.navbar-nav {
  margin-left: 75px;
}
header {
  background: $dark-blue;
  color: $white;
  padding: 25px 0;
  ul {
    margin-top: 7px;
    margin-bottom: 0;
  }
  .highlight {
    color: #c5c52c;
    text-transform: uppercase;
    font-weight: 700;
  }
  .secure {
    text-transform: uppercase;
    font-size: 10px;
    padding-top: 16px;
  }
}
.brand {
  img {
    width: 124px;
    margin-right: 20px;
    margin-left: 26px;
  }
  .subtext {
    border-left: 1px $white solid;
    font-size: 19px;
    font-weight: 300;
    padding-left: 20px;
    vertical-align: middle;
    display: table-cell;
    height: 19px;
  }
}
.btn {
  background: $yellow;
  width: 404px;
  &:hover {
    background: $yellow-hover;
  }
}
.content {
  margin-top: 138px;
  color: $white;
}
.bottom {
  margin-top: 68px;
}
#banner1 {
  @include banner('../images/agents/agent-banner1.jpg');
  margin-top: 160px;
  color: $white;
  h1 {
    margin-bottom: 27px;
  }
}
#how, #why, #agents {
  background: $white;
  padding: 30px;
}
#banner2 {
  @include banner('../images/agents/agent-banner2.jpg');
}
#why {
  text-align: center;
  img {
    width: 65px;
  }
}
#rates {
  @include banner('../images/agents/agent-banner3.jpg');
}
#start {
  background: $yellow;
  &:hover {
    background: $yellow-hover;
  }
}