@import 'mixins';

header {
  background: $dark-blue;
  color: $white;
  font-weight: 300;
  padding: 25px;
  .highlight {
    color: $yellow;
    text-transform: uppercase;
  }
  .secure {
    text-transform: uppercase;
  }
}
.brand {
  img {
    width: 124px;
    margin-right: 20px;
  }
  .subtext {
    border-left: 1px $white solid;
    font-size: 19px;
    padding-left: 20px;
    vertical-align: middle;
    display: table-cell;
    height: 19px;
  }
}
.btn {
  background: $yellow;
  width: 404px;
  &:hover {
    background: $yellow-hover;
  }
}
#banner1 {
  @include banner('../images/agents/agent-banner1.jpg');
  margin-top: 160px;
}
#how, #why, #agents {
  background: $white;
  padding: 30px;
}
#banner2 {
  @include banner('../images/agents/agent-banner2.jpg');
}
#why {
  text-align: center;
  img {
    width: 65px;
  }
}
#rates {
  @include banner('../images/agents/agent-banner3.jpg');
}
#start {
  background: $yellow;
  &:hover {
    background: $yellow-hover;
  }
}