@import 'mixins';

h1, h2, h3 {
  margin: 0;
}
.navbar-nav {
  margin-left: 75px;
}
header {
  background: $dark-blue;
  color: $white;
  padding: 25px 0;
  ul {
    margin-top: 7px;
    margin-bottom: 0;
  }
  .secure {
    text-transform: uppercase;
    font-size: 10px;
    padding-top: 16px;
  }
}
.highlight {
  color: #c5c52c;
  text-transform: uppercase;
  font-weight: 700;
}
.brand {
  a {
    margin: 4px 20px 0 26px;
  }
  .subtext {
    border-left: 1px $white solid;
    font-size: 19px;
    font-weight: 300;
    padding: 3px 0 0 20px;
    display: table-cell;
  }
}
.btn {
  background: $yellow;
  &:hover {
    background: $yellow-hover;
  }
  .icon-arrow {
    margin-left: 104px;
  }
}
.bottom {
  margin-top: 68px;
}
#banner1 {
  @include banner('../images/agents/agent-banner1.jpg');
  margin-top: 160px;
  color: $white;
  h1 {
    margin-bottom: 27px;
  }
  .content {
    margin-top: 140px;
    color: $white;
  }
}
#how, #why, #agents {
  background: $white;
}
#banner2 {
  @include banner('../images/agents/agent-banner2.jpg');
  color: $blue;
  padding-top: 90px;
  height: 750px;
  h1 {
    margin-bottom: 33px;
  }
  dd {
    font-size: 22px;
    line-height: 1.273;
    margin-bottom: 37px;
  }
  .btn {
    margin-top: 35px;
  }
}
#how {
  height: 650px;
  padding-top: 94px;
  padding-bottom: 60px;
  color: $blue;
  p {
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.875;
    padding: 0 30px;
  }
  img {
    padding: 70px 54px 45px 54px;
  }
  .mid {
    margin-top: 22px;
  }
}
#why {
  text-align: center;
  height: 600px;
  padding-top: 94px;
  padding-bottom: 115px;
  color: $blue;
  h2 {
    margin-bottom: 110px;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  p {
    font-size: 16px;
    line-height: 1.75;    
  }
  img {
    width: 65px;
    margin-bottom: 25px;
  }
  .mid {
    padding: 0 45px;
  }
}
#rates {
  @include banner('../images/agents/agent-banner3.jpg');
  padding-top: 94px;
  color: $blue;
  height: 900px;
  h2 {
    margin-bottom: 55px;
    line-height: 1.2;
    color: $blue;
  }
  .tier {
    border: 1px $blue solid;
    padding: 15px 37px;
    font-size: 16px;
    margin-bottom: 75px;
    img {
      padding: 18px 0 16px 0;
    }
  }
  .type, .price {
    text-transform: uppercase;
    font-size: 22px;
  }
  small {
    font-size: 14px;
    line-height: 16px;
  }
  .btn {
    margin-bottom: 120px;
  }
  .underline {
    text-decoration: underline;
    color: $blue;
  }
}
#agents {
  padding-top: 94px;
  color: $blue;
  height: 1100px;
  h2 {
    margin-bottom: 55px;
  }
  .col-md-4 {
    padding: 0 36px;
  }
  img {
    margin-bottom: 65px;
  }
  .name {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .experience {
    font-size: 18px;
    line-height: 22px;
  }
  hr {
    margin: 25px 0;
  }
  .quotes {
    width: 27.5px;
    margin-bottom: 19px;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  .details {
    padding: 0 20px;
    letter-spacing: .1em;
  }
}
#start {
  background: $yellow;
  padding: 71px 0;
  h2 {
    margin-top: 10px;
  }
  &:hover {
    background: $yellow-hover;
  }
}
/** Iphone **/
@media (max-width: 480px) {
  .brand a {
    margin: 0 20px 0 5px;
    width: 100px;
  }
  .highlight {
    font-size: 12px;
    margin-left: 6px;
  }
  header {
    padding: 15px 0;
  }
  .btn {
    font-size: 14px !important;
    margin-bottom: 20px;
    width: 315px;
    .icon-arrow {
      font-size: 20px;
      font-weight: bold;
    }
  }
  #banner1 {
    margin-top: 102px;
    p {
      color: $blue;
      text-align: center;
    }
  }
  .brand {
    .subtext {
      font-size: 14px;
    }
  }
  #how {
    padding-top: 60px;
    img {
      padding: 40px 0;
    }
  }
  #banner2 {
    padding-top: 30px;
    h1 {
      margin-bottom: 30px !important;
    }
    dd {
      font-size: 14px;
      margin-bottom: 24px;
      margin-top: 10px;
      padding: 0 15px;
      line-height: 1.5;
    }
    .btn {
      margin: 10px 0 40px 0
    }
  }
  #why {
    padding-top: 40px;
    padding-bottom: 40px;
    h2 {
      margin-bottom: 25px;
    }
    .mid {
      padding: 30px 22px;
    }
  }
  footer {
    text-align: center;
    .text-right {
      text-align: center;
    }
    ul {
      margin-top: 0;
      li:first-child {
        display: block;
      }
    }
  }
  .mobile-hide {
    display: none;
  }
}