$blue: #004377;
$dark-blue: #001f34;
$light-blue: #34a3cb;
$green: #c5c62b;
$white: #fafafa;
$tan: #f2e7db;
$yellow: #f2b032;

@mixin roboto300 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
@mixin fatcaps {
  text-transform: uppercase;
  font-weight: 700;
}
@mixin biz-banner($img-url) {
  background: url($img-url) no-repeat;
  background-size: cover;
}