@import 'mixins';

@media (max-width: 480px) {
  .navbar, .main-container {width: 100%;}
  section {
    background-color: $white !important;
    height: auto !important;
  }
  #banner, #banner1, #banner2, #banner3, #rates {
    background-size: contain;
  }
  h1 {font-size: 28px; line-height: 1.3;}
  h2 {font-size: 22px; line-height: 1.3;}
  h3 {font-size: 18px;}
  p {font-size: 14px !important;}
  .content { 
    margin-top: 194px;
    text-align: center;
    color: $blue;
  }
  .bottom {
    margin-top: 27px;
    margin-bottom: 10px;
  }
}