@import 'mixins';

body {
  background: $tan;
  font-family: 'Oxygen', sans-serif;
}
.navbar, .main-container {
  width: 1280px;
  margin: 0 auto;
}
hr {
  border-color: #0f4576;
  margin: 35px 0;
}
a {
  color: $light-blue;
}
p {
  font-size: 22px;
  font-family: 'Oxygen', sans-serif;
}
h1, h2 {
  @include roboto300;
}
h1 { 
  font-size: 48px;
  line-height: 1.2;
}
h2 {
  font-size: 38px;
}
h3 {
  font-size: 22px;
  font-weight: 700;
}
.fa-lock {
  margin-right: 10px;
}
.btn {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: $white;
  width: 400px;
  text-align: left;
  padding: 8px 0 7px 20px;
  border-radius: 0 !important;
  span {
    vertical-align: middle;
  }
  .icon-arrow {
    font-size: 40px;
  }
  img {
    width: 40px;
    display: inline-block;
    margin-left: 40px;
  }
  &:hover {
    color: $white;
  }
}
.brand {
  display: block;
  img {
    width: 110px;
  }
}
footer {
  background: $blue;
  color: $white;
  padding: 57px 0;
  p {
    margin: 0;
    font-size: 16px;
    @include roboto300;
    letter-spacing: 0.1em;
  }
  .secure {
    font-size: 16px;
  }
  a {
    color: $white;
    &:hover {
      color: $light-blue;
    }
  }
  .icon-twitter, .icon-fb {
    font-size: 52px;
  }
  ul {
    margin-top: -17px;
    li {
      vertical-align: middle;
      padding: 0 !important;
    }
  }
}
#fine-print {
  background: $dark-blue;
  small {
    color: darken($white, 50%);
    font-size: 10px;
  }
}
#start {
  height: auto;
  color: $white;
  .img-responsive {
    padding: 40px 0;
    width: 62px;
    margin-left: -50px;
  }
  .icon-arrow {
    font-size: 62px;
  }
}
.navbar-toggle {
  border: none;
  margin-right: 5px;
}

/** LOGIN & FORGOT PASSWORD **/
#login {
  @include banner('../images/blur.jpg');
  margin-top: 80px;
  height: 775px;
  h1, h3 {
    color: $white;
  }
  h3 {
    margin-bottom: 17px;
  }
  .content {
    margin-top: 165px;
  }
  .icon-arrow {
    margin-left: 200px;
  }
}
form {
  .btn {
    text-align: center;
    background: #048cb9;
    padding: 12px;
    &:hover {
      background: $light-blue;
    }
  }
  .btn-block {
    width: 100%;
  }
  .form-control {
    background: transparent;
    border: 1px $white solid;
    border-radius: 0;
    color: $white;
    font-size: 20px;
    padding: 29px 20px;
  }
  .note {
    font-size: 16px;
    color: $white;
    margin-top: 16px;
  }
}