@import 'mixins';

body {
  background: $tan;
  font-family: 'Oxygen', sans-serif;
}
.navbar, .main-container {
  width: 1280px;
  margin: 0 auto;
}
hr {
  border-color: #0f4576;
  margin: 35px 0;
}
p {
  font-size: 22px;
  font-family: 'Oxygen', sans-serif;
}
h1, h2 {
  @include roboto300;
}
h1 { 
  font-size: 48px;
  line-height: 58px;
}
h2 {
  font-size: 38px;
  color: $light-blue;
}
h3 {
  font-size: 24px;
  font-weight: 700;
}
.fa-lock {
  margin-right: 10px;
}
.nav {
  .secure {
    padding: 33px 15px 33px 35px;
    display: block;
    color: #668ead;
    text-transform: uppercase;
    font-size: 10px;
  }
}
.btn {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: $white;
  text-align: left;
  border-radius: 0 !important;
  span {
    vertical-align: middle;
  }
  .icon-arrow {
    font-size: 40px;
    float: right;
  }
  img {
    width: 40px;
    display: inline-block;
    margin-left: 40px;
  }
}
footer {
  background: $blue;
  color: $white;
  padding: 51px 0;
  p {
    margin: 0;
    font-size: 16px;
    @include roboto300;
    letter-spacing: 0.1em;
  }
  .secure {
    font-size: 16px;
  }
  a {
    color: $white;
    &:hover {
      color: $light-blue;
    }
  }
  .icon-twitter, .icon-fb {
    font-size: 43px;
  }
  li {
    vertical-align: middle;
  }
}
#fine-print {
  background: $dark-blue;
  small {
    color: darken($white, 50%);
    font-size: 10px;
  }
}
#start {
  padding: 60px 0;
  height: auto;
  h2 {
    color: $white;
  }
  .img-responsive {
    padding: 40px 0;
    width: 62px;
    margin-left: -50px;
  }
}